<style>
    .profile-avatar-container {
        position:relative;
        width:100px;
    }
    .profile-avatar-container .profile-user-img{
        width:100px;
        height:100px;
    }
    .profile-avatar-container .profile-avatar-text {
        display:none;
    }
    .profile-avatar-container:hover .profile-avatar-text {
        display:block;
        position:absolute;
        height:100px;
        width:100px;
        background:#444;
        opacity: .6;
        color: #fff;
        top:0;
        left:0;
        line-height: 100px;
        text-align: center;
    }
    .profile-avatar-container button{
        position:absolute;
        top:0;left:0;width:100px;height:100px;opacity: 0;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header center-block text-center"><a href="{:url('index/wanlshop.user/chargeList')}" class="h4">充值记录</a></div>
                <div class="panel-body">
                    <h2 class="page-header center-block text-center">充值中心</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- Nav tabs -->
                  <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">paypal</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">信用卡</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">USDT</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">电汇</a></li>
                  </ul>
                    
                 <div style="height:40px"></div>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <a href="#" class="btn btn-danger btn-lg">10</a>
                        <a href="#" class="btn btn-danger btn-lg">50</a>
                        <a href="#" class="btn btn-danger btn-lg">100</a>
                        <a href="#" class="btn btn-danger btn-lg">200</a>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <a href="#" class="btn btn-danger btn-lg">50</a>
                        <a href="#" class="btn btn-danger btn-lg">100</a>
                        <a href="#" class="btn btn-danger btn-lg">200</a>
                        <a href="#" class="btn btn-danger btn-lg">其他</a>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="messages">
                        <a href="#" class="btn btn-danger btn-lg">50</a>
                        <a href="#" class="btn btn-danger btn-lg">100</a>
                        <a href="#" class="btn btn-danger btn-lg">200</a>
                        <a href="#" class="btn btn-danger btn-lg">500</a>
                        <a href="#" class="btn btn-danger btn-lg">1000</a>
                        <a href="#" class="btn btn-danger btn-lg">2000</a>
                        <a href="#" class="btn btn-danger btn-lg">其他</a>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">
                        <input type="number" placeholder="请输入金额">
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header center-block text-center"><a href="#" class="h4">手续费、平台反馈说明</a></div>
                <div class="panel-body text-center">
                    <a href="{:url('index/wanlshop.user/confirmCharge')}" class="btn btn-info btn-lg ">确定充值</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-header "><a href="#" class="h4">可用余额：0</a></div>
               
            </div>
        </div>
    </div>
<div>
       
<style>
    .form-layer {height:100%;min-height:150px;min-width:300px;}
    .form-body {
        width:100%;
        overflow:auto;
        top:0;
        position:absolute;
        z-index:10;
        bottom:50px;
        padding:15px;
    }
    .form-layer .form-footer {
        height:50px;
        line-height:50px;
        background-color: #ecf0f1;
        width:100%;
        position:absolute;
        z-index:200;
        bottom:0;
        margin:0;
    }
    .form-footer .form-group{
        margin-left:0;
        margin-right:0;
    }
</style>
