<div class="panel panel-default panel-intro">

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a class="btn btn-info btn-multi btn-disabled disabled" href="javascript:;" data-url="wanlshop/goods/restore" data-action="restore"><i class="fa fa-rotate-left"></i> {:__('Restore')}</a>
                        <a class="btn btn-success btn-restoreall" href="javascript:;" data-url="wanlshop/goods/restore" title="{:__('Restore all')}"><i class="fa fa-rotate-left"></i> {:__('Restore all')}</a>
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover"
                           data-operate-restore="wanlshop/goods/restore"
                           width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
