<style>
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
     
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="page-header">
                        お友達招待
                    </h2>
                    <div class="row user-baseinfo">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                         <h3>あなたのユニークな招待コードは：</h3>
                         <h2>{$user.verifycode}</h2>
                         <h3>促す：Manya 売り手システムは、落ち着くための招待システムです。落ち着くために友人を招待すると、店の重量を増やすのに役立ちます</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
