<style>
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
     
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="page-header">
                        Inviting new arrivals
                    </h2>
                    <div class="row user-baseinfo">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                         <h3>Your unique invitation code is:</h3>
                         <h2>{$user.verifycode}</h2>
                         <h3>Notice: Inviting friends to become a seller helps to increase the weight of your store  这里是写邀请奖励的，原文是说会增加店铺权重，后续要根据我们的策略修改文案</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
