<div class="panel panel-default panel-intro">

	

	<div class="panel-body">

		<div id="myTabContent" class="tab-content">

			<div class="tab-pane fade active in" id="one">

				<div class="widget-body no-padding" id="cxselect-example">

					<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

						<div id="app" v-cloak>

							<div class="row" id="basics">

								<div class="col-md-12">

									<div class="panel panel-default">

										<div class="panel-heading">基本情報</div>

										<div class="panel-body">

											<div class="form-group">

												<label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>

												<div class="col-xs-12 col-sm-8">

													<input id="c-title" readonly="readonly" data-rule="required" class="form-control" name="row[title]" type="text" placeholder="製品タイトルを入力してください" value="{$row.title|htmlentities}">

												</div>

											</div>

											

											<div class="form-group">

											    <label class="control-label col-xs-12 col-sm-2">{:__('Category_id')}:</label>

											    <div class="col-xs-12 col-sm-8">

													<div class="form-inline">

														<select disabled="disabled" id="c-category_1" data-rule="required" v-model="categoryOne" class="form-control" @change="getCategory(1)">

														    <option :value="key" v-for="(item,key) in categoryList" :key="item.id">{{item.name}}</option>                                    

														</select>

														<select disabled="disabled" id="c-category_2" data-rule="required" v-if="categoryOne != null && categoryList[categoryOne].childlist.length != 0" v-model="categoryTwo" class="form-control" @change="getCategory()">

														    <option :value="key" v-for="(item,key) in categoryList[categoryOne].childlist" :key="item.id">{{item.name}}</option>                                    

														</select>

														<select disabled="disabled" id="c-category_3" data-rule="required" v-if="categoryTwo != null && categoryList[categoryOne].childlist[categoryTwo].childlist.length != 0" v-model="categoryThree" class="form-control" @change="getCategory()">

														    <option :value="key" v-for="(item,key) in categoryList[categoryOne].childlist[categoryTwo].childlist" :key="item.id">{{item.name}}</option>                                    

														</select>

														<select disabled="disabled" id="c-category_4" data-rule="required" v-if="categoryThree != null && categoryList[categoryOne].childlist[categoryTwo].childlist[categoryThree].childlist.length != 0" v-model="categoryFour" class="form-control" @change="getCategory()">

														    <option :value="key" v-for="(item,key) in categoryList[categoryOne].childlist[categoryTwo].childlist[categoryThree].childlist" :key="item.id">{{item.name}}</option>                                    

														</select>

														<select disabled="disabled" id="c-category_5" data-rule="required" v-if="categoryFour != null && categoryList[categoryOne].childlist[categoryTwo].childlist[categoryThree].childlist[categoryFour].childlist.length != 0" v-model="categoryFive" class="form-control" @change="getCategory()">

														    <option :value="key" v-for="(item,key) in categoryList[categoryOne].childlist[categoryTwo].childlist[categoryThree].childlist[categoryFour].childlist" :key="item.id">{{item.name}}</option>                                    

														</select>

														<input class="form-control" name="row[category_id]" type="hidden" :value="categoryId">

													</div>

											    </div>

											</div>

											

											<div class="form-group">

											    <label class="control-label col-xs-12 col-sm-2">{:__('製品ブランド')}:</label>

											    <div class="col-xs-12 col-sm-8">

													<div class="input-group">

														<input id="c-brand_id" data-rule="required" 

														data-source="wanlshop/brand/selectpage" 

														class="form-control selectpage" 

														name="row[brand_id]" disabled="disabled"

														type="text" placeholder="クリックして製品ブランドを選択" value="{$row.brand_id|htmlentities}">

														<!--<div class="input-group-addon no-border no-padding">

															<span><button type="button" class="btn btn-danger btn-brand">{:__('申请品牌')}</button></span>

														</div>-->

													</div>

											    </div>

											</div>

											

											<div class="form-group" v-if="attributeData.length != 0">

												<label class="control-label col-xs-12 col-sm-2">{:__('カテゴリの内容')}:</label>

												<div class="col-xs-12 col-sm-8">

													<div class="wanl-attribute">

														<div class="form-group" v-for="(item,index) in attributeData" :key="index">

														  <label for="inputPassword" class="col-sm-3 control-label">{{item.name}}</label>

														  <div class="col-sm-9">

															<select :id="'c-attribute_' + item.name" :name="'row[attribute]['+item.name+']'" data-rule="required" class="form-control">

															    <option :value="data.name" v-for="(data,key) in item.value" :key="key" :selected="data.name == attribute[item.name]">{{data.name}}</option>                                   

															</select>

														  </div>

														</div>

													</div>

												</div>

											</div>

										</div>

									</div>

								</div>

							</div>

							<div class="row" id="sale">

								<div class="col-md-12">

									<div class="panel panel-default">

										<div class="panel-heading">販売情報</div>

										<div class="panel-body">

											<div class="form-group wanl-specs">

												<label class="control-label col-xs-12 col-sm-2">{:__('製品の内容')}:</label>

												<div class="col-xs-12 col-sm-8">

													<!--<div class="input-group add-option">

														<input type="text" class="form-control" ref="specs-name" placeholder="多个产品属性以空格隔开">

														<span class="input-group-addon pointer" @click="spuAdd">新增属性</span>

													</div>

							

													<div class="panel panel-default" v-for="(item, i) in spu" :key="i">

														<header class="panel-heading">

															<b>{{item}}</b>

															<span class="remove" title="移除" @click="spuRemove(i)">×</span>

														</header>

														<div class="row">

															<div class="col-md-5 col-sm-5 col-xs-5">

																<div class="input-group">

																	<input type="text" class="form-control" :ref="'specs-name-' + i" placeholder="多规格以空格隔开">

																	<span class="input-group-addon pointer" @click="skuAdd(i)"><i class="fa fa-plus"></i></span>

																</div>

															</div>

															<div class="col-md-7 col-sm-7 col-xs-7">

																<div class="wanl-specs-tag" v-for="(v, j) in spuItem[i]" :key="j">

																	{{v}}<span class="remove" title="移除" @click="skuRemove(i, j)">×</span>

																</div>

															</div>

														</div>

													</div>-->

													<div>

														<div v-for="itemm in sku">

															<input type="hidden" name="row[sku][]" v-model="itemm" />

														</div>

														<input type="hidden" name="row[spu]" v-model="spu" />

														<div v-for="items in spuItem">

															<input type="hidden" name="row[spuItem][]" v-model="items" />

														</div>

													</div>

													<div class="row" v-show="sku.length">

														<div class="col-md-12">

															<table class="table table-bordered">

																<thead>

																	<tr class="info text-info">

																		<th v-for="item in spu"> {{item}} </th>

																		<th width="80">元値</th>

																		<th width="80">現在の価格</th>
																		
																		<th width="80">卸売価格</th>

																		<th width="80">在庫あり</th>

																		<th width="83">体積または重量</th>

																		<th width="80">コーディング</th>

																	</tr>

																</thead>

																

																<tbody>

																	<tr v-for="(item, index) in sku" :key="index">

																		<td v-for="(v, j) in item" :key="j">{{v}}</td>

																		<td width="80"><input readonly="readonly" type="number" data-rule="required" name="row[market_price][]" class="input-sm form-control wanl-market_price" :value="skuItem[sku[index]] && skuItem[sku[index]]['market_price']"> </td>

																		<td width="80"><input readonly="readonly" type="number" data-rule="required" name="row[price][]" class="input-sm form-control wanl-price" :value="skuItem[sku[index]] && skuItem[sku[index]]['price']"> </td>
																		
																		<td width="80"><input readonly="readonly" type="number" data-rule="required" name="row[wholesale_price][]" class="input-sm form-control wanl-price" :value="skuItem[sku[index]] && skuItem[sku[index]]['wholesale_price']"> </td>

																		<td width="80"><input readonly="readonly" type="number" data-rule="required" name="row[stocks][]" class="input-sm form-control wanl-stock" :value="skuItem[sku[index]] && skuItem[sku[index]]['stock']"></td>

																		<td width="80"><input readonly="readonly" type="number" name="row[weigh][]" class="input-sm form-control wanl-weigh" :value="skuItem[sku[index]] && skuItem[sku[index]]['weigh']"></td>

																		<td width="80"><input readonly="readonly" type="text" name="row[sn][]" class="input-sm form-control wanl-sn" :value="skuItem[sku[index]] && skuItem[sku[index]]['sn']"></td>

																	</tr>

																</tbody>

															</table>

															<!--<div @click="skuBatch()">

																<span v-if="batch == 0">

																	是否要批量设置？

																</span>

																<span v-else>

																	取消批量设置？

																</span>

															</div>-->

														</div>

													</div>

							

													<div class="batch" v-show="batch == 1">

														<div class="input-group">

															<div class="input-group-addon">元値 円</div>

															<input type="number" class="form-control" id="batch-market_price" placeholder="ワンクリックで元の価格を設定">

															<div class="input-group-addon" onclick="batchSet('market_price')">バッチ設定</div>

														</div>

														<div class="input-group">

															<div class="input-group-addon">現在の価格 円</div>

															<input type="number" class="form-control" id="batch-price" placeholder="ワンクリックで現在の価格を設定">

															<div class="input-group-addon" onclick="batchSet('price')">バッチ設定</div>

														</div>

														<div class="input-group">

															<div class="input-group-addon">在庫あり</div>

															<input type="number" class="form-control" id="batch-stock" placeholder="ワンクリック在庫設定">

															<div class="input-group-addon" onclick="batchSet('stock')">バッチ設定</div>

														</div>

														<div class="input-group">

															<div class="input-group-addon">重量</div>

															<input type="number" class="form-control" id="batch-weigh" placeholder="体重を設定するための1つの鍵">

															<div class="input-group-addon" onclick="batchSet('weigh')">バッチ設定</div>

														</div>

														<div class="input-group">

															<div class="input-group-addon">コーディング</div>

															<input type="text" class="form-control" id="batch-sn" placeholder="コードを設定するための1つのキー">

															<div class="input-group-addon" onclick="batchSet('sn')">バッチ設定</div>

														</div>

													</div>

							

												</div>

											</div>

							

										</div>

									</div>

								</div>

							</div>

						</div>

						<div class="row" id="wanlinfo">

							<div class="col-md-12">

								<div class="panel panel-default">

									<div class="panel-heading">グラフィックの説明</div>

									<div class="panel-body">

										<div class="form-group">

											<label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>

											<div class="col-xs-12 col-sm-8">

												<div class="input-group">
												    
												    <ul class="row list-inline plupload-preview" id="p-image">
												        <li class="col-xs-12" style="width: 110px;">
												            <a href="javascript:" data-url="javascript:" class="thumbnail">
												            <img onclick="previewImg(this)" src="https://imagesrb.oss-ap-northeast-1.aliyuncs.com{$row.image|htmlentities}" onerror="this.src='/index/ajax/icon?suffix=jpg';this.onerror=null;" class="img-responsive">
												            </a>
												        </li>
												    </ul>

												</div>

												<ul class="row list-inline plupload-preview" id="p-image"></ul>

											</div>

										</div>

										<div class="form-group">

											<label class="control-label col-xs-12 col-sm-2">{:__('Images')}:</label>

											<div class="col-xs-12 col-sm-8">

												<div class="input-group">
				
												    <ul class="row list-inline plupload-preview" id="p-images">
												        {foreach name="row.images" item="vo"}
												            <li class="col-xs-12" style="width: 110px;">
    												            <a href="javascript:" data-url="javascript:" class="thumbnail">
    												            <img onclick="previewImg(this)" src="https://imagesrb.oss-ap-northeast-1.aliyuncs.com{$vo|htmlentities}" onerror="this.src='/index/ajax/icon?suffix=jpg';this.onerror=null;" class="img-responsive">
    												            </a>
    												        </li>
    												    {/foreach}
												    </ul>
												    
												</div>

												<ul class="row list-inline plupload-preview" id="p-images"></ul>

											</div>

										</div>

										<div class="form-group">

										    <label class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>

										    <div class="col-xs-12 col-sm-8">

												<input readonly="readonly" id="c-description" data-rule="required" class="form-control" name="row[description]" type="text" value="{$row.description|htmlentities}">

										    </div>

										</div>

										<div class="form-group">

											<label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>

											<div class="col-xs-12 col-sm-8">

												<textarea readonly="readonly" id="c-content" data-rule="required" class="form-control editor" rows="5" name="row[content]" cols="50">{$row.content|htmlentities}</textarea>

											</div>

										</div>

										<!-- 1.0.2升级优化 点击弹出图片上传，再次编辑商品异常 -->

										

									</div>

								</div>

							</div>

						</div>

					</form>

				</div>

			</div>

		</div>

	</div>

</div>
<script>
    function previewImg(obj) {
   var img = new Image(); 
   img.src = obj.src;
   //var height = img.height + 50; // 原图片大小
   //var width = img.width; //原图片大小
   var imgHtml = "<img src='" + obj.src + "' width='350px' height='350px'/>"; 
   //弹出层
   layer.open({ 
     type: 1, 
     shade: 0.8,
     offset: 'auto',
     area: [350 + 'px',400+'px'], // area: [width + 'px',height+'px'] //原图显示
     shadeClose:true,
     scrollbar: false,
     title: "画像プレビュー", //不显示标题 
     content: imgHtml, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响 
     cancel: function () { 
       //layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', { time: 5000, icon: 6 }); 
     } 
   }); 
 }
</script>
<style>

	#cxselect-example .form-group {

		margin: 10px 0;

	}

	[v-cloak] {display: none;}

	.wanl-specs .add-option{

		width: 250px;

		margin-bottom: 17px;

	}

	.wanl-specs .add-option .input-group-addon{

		color: #fff;

		background-color: #2c3e50;

	}

	.wanl-specs .panel .row{

		margin: 5px 0;

	}

	.wanl-specs .panel .remove {

		display: none;

		position: absolute;

		z-index: 2;

		width: 18px;

		height: 18px;

		font-size: 14px;

		line-height: 16px;

		color: #fff;

		text-align: center;

		cursor: pointer;

		background: rgba(0,0,0,.3);

		border-radius: 50%;

	}

	.wanl-specs .panel .panel-heading {

		position: relative;

	}

	.wanl-specs .panel .panel-heading .remove {

		right: 10px;

		top: 10px;

	}

	.wanl-specs .panel .panel-heading:hover .remove {

		display:block;

	}

	.wanl-specs .panel .wanl-specs-tag{

		background-color: #f8f8f8;

		position: relative;

		padding: 6px 10px;

		display: inline-block;

		margin-right: 10px;

		text-align: center;

		border-radius: 2px;

		cursor: pointer;

	}

	.wanl-specs .panel .wanl-specs-tag .remove {

		top: -5px;

		right: -5px;

	}

	.wanl-specs .panel .wanl-specs-tag:hover .remove{

		display:block;

	}

	

	.wanl-specs .batch .input-group{

		margin: 15px 0;

		width: 66%;

	}

	.sp_result_area{

		z-index: 10000;

	}

	.form-inline .form-control{

		padding-right: 100px;

	}

	.input-sm{

		padding: 5px 0;

		text-align: center;

	}

	.sp_container {

	    margin-right: 3px;

	}

	.panel-intro > .panel-heading {

	    position: sticky;

	    top: 0;

	    z-index: 9999;

	}

	.wanl-attribute {

	    display: flex;

	    flex-wrap: wrap;

	    background: #f5f5f5;

	    border: 1px solid #ddd;

		border-radius: 3px;

	}

	.wanl-attribute>div{

		width: 50%;

	}

</style>
