<div class="sidenav">

	<ul class="list-group">

		<li class="list-group-heading">トランザクション管理</li>

		<li class="list-group-item active"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 販売した商品</a></li>

		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> コメント管理</a> </li>

		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 払い戻し管理</a> </li>

	</ul>

	<ul class="list-group">

		<li class="list-group-heading">ロジスティクス管理</li>

		<li class="list-group-item"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 輸送する</a></li>

		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 配送テンプレート</a> </li>

	</ul>

	<ul class="list-group">

		<li class="list-group-heading">商品管理</li>

		<li class="list-group-item"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 商品を公開する</a></li>

		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> セール品</a> </li>

		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 倉庫内の商品</a> </li>

	</ul>

	<ul class="list-group">

		<li class="list-group-heading">店舗管理</li>

		<li class="list-group-item"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 店舗建設</a></li>

		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> カテゴリー管理</a> </li>

		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 設定を保存する</a> </li>

	</ul>

	<ul class="list-group">

		<li class="list-group-heading">マーケティング活動</li>

		<li class="list-group-item"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> ワンリアンケ</a></li>

		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> グループに参加する</a> </li>

		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> バーゲン</a> </li>

		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> クーポン</a> </li>

		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 限られた時間のスパイク</a> </li>

		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> マイナス</a> </li>

	</ul>

</div>