<div class="row">

	<div class="col-md-12">

		<div class="panel panel-default">

			<div class="panel-heading">商品信息</div>

			<div class="panel-body">

				<p>订单号：<small>{$row.order.order_no}</small></p>

				<table class="table table-bordered">

					<thead>

						<tr>

							<th class="text-center">

								<div class="th-inner">商品编码</div>

							</th>

							<th class="text-center">

								<div class="th-inner">主图</div>

							</th>

							<th class="text-center">

								<div class="th-inner">商品名称</div>

							</th>

							<th class="text-center">

								<div class="th-inner">购买规格</div>

							</th>

							<th class="text-center">

								<div class="th-inner">数量</div>

							</th>

							<th class="text-center">

								<div class="th-inner">单价</div>

							</th>

							<th class="text-center">

								<div class="th-inner">优惠</div>

							</th>

							<th class="text-center">

								<div class="th-inner">运费</div>

							</th>

							<th class="text-center">

								<div class="th-inner">小计</div>

							</th>

						</tr>

					</thead>

					<tbody>

						{volist name="row.ordergoods" id="vo"  }

						<tr>

							<td>{$vo.id}</td>

							<td><img class="img-sm img-center" src="{$vo.image|cdnurl|htmlentities}"></td>

							<td>{$vo.title}</td>

							<td>{$vo.difference}</td>

							<td>{$vo.number}</td>

							<td>￥{$vo.price}</td>

							<td>-</td>

							<td>-</td>

							<td>￥{$vo.number*$vo.price}</td>

						</tr>

						{/volist}

					</tbody>

					<tfoot>

						<tr>

							<th colspan="9" style="text-align: right;">

								<span class="ordertext">退款金额：￥{$row.price|htmlentities}</span>

							</th>

						</tr>

					</tfoot>

				</table>

				<div style="color: #333;">

					<p style="margin-bottom: 15px;">退款状态：

						{switch name="row.state"}

							{case value="0"}<span class="label label-info">{$row.state_text|htmlentities}</span>{/case}

							{case value="1"}<span class="label label-warning">{$row.state_text|htmlentities}</span>{/case}

						    {case value="2"}<span class="label label-primary">{$row.state_text|htmlentities}</span>{/case}

							{case value="3"}<span class="label label-success">申请介入</span>{/case}

							{case value="4"}<span class="label label-success">{$row.state_text|htmlentities}</span>{/case}

							{case value="5"}<span class="label label-danger">{$row.state_text|htmlentities}</span>{/case}

						{/switch}

					</p>

					<p>下单时间：<small>{$row.order.createtime|date="Y年m月d日 h:i:s",###}</small></p>

					{notempty name="row.order.paymenttime"}<p>付款时间：<small>{$row.order.paymenttime|date="Y年m月d日 h:i:s",###}</small></p>{/notempty}

					{notempty name="row.order.delivertime"}<p>发货时间：<small>{$row.order.delivertime|date="Y年m月d日 h:i:s",###}</small></p>{/notempty}

					{notempty name="row.order.taketime"}<p>收货时间：<small>{$row.order.taketime|date="Y年m月d日 h:i:s",###}</small></p>{/notempty}

					{notempty name="row.order.dealtime"}<p>成交时间：<small>{$row.order.dealtime|date="Y年m月d日 h:i:s",###}</small></p>{/notempty}

					<p>退款时间：<small>{$row.createtime|date="Y年m月d日 h:i:s",###}</small></p>

				</div>

			</div>

		</div>

	</div>

	<div class="col-md-12">

		<div class="panel panel-default">

			<div class="panel-heading">商家信息</div>

			<div class="panel-body">

				<table class="table table-striped">

					<tr>

						<td>{:__('店铺名')}</td>

						<td><img class="img-sm img-center" src="{$row.shop.avatar|cdnurl|htmlentities}"> {$row.shop.shopname|htmlentities}</td>

					</tr>

					<tr>

						<td>{:__('开店时间')}</td>

						<td>{$row.shop.updatetime|date="Y年m月d日",###}</td>

					</tr>

					<tr>

						<td>{:__('店铺评分')}</td>

						<td>

							<span style="margin-right: 15px;">商品描述：{$row.shop.score_describe|htmlentities}</span>

							<span style="margin-right: 15px;">卖家服务：{$row.shop.score_service|htmlentities}</span>

							<span style="margin-right: 15px;">发货相符：{$row.shop.score_deliver|htmlentities}</span>

							<span>物流服务：{$row.shop.score_logistics|htmlentities}</span>

						</td>

					</tr>

				</table>

			</div>

		</div>

	</div>

	<!-- 退款日志 -->

	<div class="col-md-12">

		<div class="panel panel-default">

			<div class="panel-heading">退款记录</div>

			<div class="panel-body">

				<table class="table table-striped">

					

					{volist name="row.log" id="vo" }

						<tr>

							{eq name="vo.type" value="0"}

							<td style="text-align: left; vertical-align: middle; "><img class="img-sm img-center" src="{$vo.user.avatar|cdnurl|htmlentities}"></td>

							<td style="text-align: left; vertical-align: middle; ">{$vo.user.nickname}(买家)</td>

							{else/}

							<td style="text-align: left; vertical-align: middle; "><img class="img-sm img-center" src="{$row.shop.avatar|cdnurl|htmlentities}"></td>

							<td style="text-align: left; vertical-align: middle; ">{$row.shop.shopname|htmlentities}</td>

							{/eq}

							<td style="text-align: left; vertical-align: middle; " width="60%">{$vo.content}</td>

							<td style="text-align: left; vertical-align: middle; ">{$vo.createtime_text}</td>

						</tr>

					{/volist}

					

				</table>

			</div>

		</div>

	</div>

	<!-- 退款详情 -->

	<div class="col-md-12">

		<div class="panel panel-default">

			<div class="panel-heading">退款详情</div>

			<div class="panel-body">

				<table class="table table-striped">

				

					<tr>

						<td>{:__('退款用户')}</td>

						<td>UID:{$row.user.id}  {$row.user.nickname|htmlentities}（{$row.user.username|htmlentities}）</td>

					</tr>

					<tr>

						<td>{:__('联系方式')}</td>

						<td>{$row.user.mobile|htmlentities}</td>

					</tr>

					

					<tr>

						<td>{:__('Images')}</td>

						<td>

							{volist name="row.images" id="vo"  }

								<img class="img-sm img-center" src="{$vo|cdnurl|htmlentities}">

							{/volist}

						</td>

					</tr>

					<tr>

						<td>{:__('ExpressType')}</td>

						<td>{$row.expressType_text|htmlentities}</td>

					</tr>

					<tr>

						<td>{:__('Type')}</td>

						<td>{$row.type_text|htmlentities}</td>

					</tr>

					<tr>

						<td>{:__('Reason')}</td>

						<td>{$row.reason_text|htmlentities}</td>

					</tr>

					<tr>

						<td>{:__('Refund_content')}</td>

						<td>{$row.refund_content|htmlentities}</td>

					</tr>

					<tr>

						<td>{:__('Refuse_content')}</td>

						<td>{$row.refuse_content|htmlentities}</td>

					</tr>

				</table>

				

				

			</div>

		</div>

	</div>

	

	{notempty name="row.express_no"}

	<div class="col-md-12">

		<div class="panel panel-default">

			<div class="panel-heading">快递信息</div>

			<div class="panel-body">

				<table class="table table-striped">

					<tr>

						<td>{:__('Express_name')}</td>

						<td>{$row.express_name|htmlentities}</td>

					</tr>

					<tr>

						<td>{:__('Express_no')}</td>

						<td>{$row.express_no|htmlentities}</td>

					</tr>

				</table>

			</div>

		</div>

	</div>

	{/notempty}

	

</div>



<div class="form-group layer-footer">

	<label class="control-label col-xs-12 col-sm-1"></label>

	<div class="col-xs-12 col-sm-9">

		<!-- <button type="submit" class="btn btn-success btn-agree">{:__('退款合理')}</button>

		<button type="submit" class="btn btn-danger btn-refuse">{:__('退款不合理')}</button> -->

		<button type="reset" class="btn btn-primary btn-embossed btn-close" onclick="Layer.closeAll();">{:__('Close')}</button>

	</div>

</div>
