<link href="__CDN__/assets/addons/wanlshop/css/appUI.css?v={$site['version']}" rel="stylesheet">

<link href="__CDN__/assets/addons/wanlshop/css/page.css?v={$site['version']}" rel="stylesheet">

<link href="__CDN__/assets/addons/wanlshop/css/iconfont.css?v={$site['version']}" rel="stylesheet">

<div class="panel panel-default panel-intro" id="app" v-cloak>

	<div class="panel-body" style="padding: 0;">

		<div id="myTabContent" class="tab-content">

			<div class="tab-pane fade active in" id="one">

				<div class="widget-body no-padding">

					<div class="wanl-page" :class="device">

						<!-- 左侧 -->

						<div class="left">

							<div class="wanl-tool">

								<div class="menu">

									<div class="dropdown">

										<div class="bnt" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

											<span>{{device}}</span><span class="caret"></span>

										</div>

										<ul class="dropdown-menu" aria-labelledby="dLabel">

											<li><a @click="onDevice('huaweiMate30')">Huawei Mate30</a></li>

											<li role="separator" class="divider"></li>

											<li><a @click="onDevice('iPhoneX')">iPhoneX</a></li>

											<li><a @click="onDevice('iPhoneXmax')">iPhoneXmax</a></li>

											<li><a @click="onDevice('iPhone7')">iPhone7</a></li>

											<li><a @click="onDevice('iPhone7plus')">iPhone7plus</a></li>

											<li role="separator" class="divider"></li>

											<li><a @click="onDevice('OPPORenoAce')">OPPORenoAce</a></li>

											<li><a @click="onDevice('vivoNEX3')">vivoNEX3</a></li>

											<li><a @click="onDevice('xiaomi9Pro')">xiaomi9Pro</a></li>

										</ul>

									</div>

									<div class="dropdown">

										<div class="bnt" id="dLabel2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

											<span>{{signal}}</span><span class="caret"></span>

										</div>

										<ul class="dropdown-menu" aria-labelledby="dLabel2">

											<li><a @click="onSignal('WIFI')">WIFI</a></li>

											<li role="separator" class="divider"></li>

											<li><a @click="onSignal('3G')">3G</a></li>

											<li><a @click="onSignal('4G')">4G</a></li>

											<li><a @click="onSignal('5G')">5G</a></li>

										</ul>

									</div>



									<!-- <div class="dropdown">

										<div class="bnt" id="dLabel3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

											<span>关于系统</span><span class="caret"></span>

										</div>

										<ul class="dropdown-menu" aria-labelledby="dLabel3">

											<li><a>使用教程</a></li>

											<li role="separator" class="divider"></li>

											<li><a>万联科技</a></li>

											<li><a>WANLSHOP v1.0.1</a></li>

										</ul>

									</div> -->

								</div>

								<div class="Button">

									<div class="dropdown">

										<div class="bnt" id="dLabel3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

											<span>リリース</span><span class="caret"></span>

										</div>

										<ul class="dropdown-menu" aria-labelledby="dLabel3">

											<li @click="publish"><a href="javascript:void(0);">ページを公開</a></li>

											<li role="separator" class="divider"></li>

											<li v-if="pageRecover.length == 0"><a href="javascript:void(0);"><i class="wlIcon wlIcon-31tishi"></i> 履歴が見つかりません</a></li>

											<li v-for="list in pageRecover" @click="recover(list.id)"><a href="javascript:void(0);">再開 {{list.createtime|formatDate}} バージョン</a></li>

										</ul>

									</div>

								</div>

							</div>

							<!-- 手机 -->

							<div class="frame">

								<div class="preview">

									<div ref="parant" class="page" :style="{'background-color': pageData.page.style.pageBackgroundColor,'background-image': 'url('+pageData.page.style.pageBackgroundImage+')'}">

										<!-- 导航 -->

										<div class="navigation" :class="{action: type == 'page'}" :style="{'background-color': pageData.page.style.navigationBarBackgroundColor,color:pageData.page.style.navigationBarTextStyle}" @click="onType('page')">

											<div class="Statusbar">

												<div class="time"> {{nowTime}} </div>

												<div class="bangs">

													<div class="sub"></div>

												</div>

												<div class="device">

													<i class="wlIcon wlIcon-xinhao"></i>

													<i v-if="signal == '3G'">3G</i>

													<i v-if="signal == '4G'">4G</i>

													<i v-if="signal == '5G'">5G</i>

													<i v-if="signal == 'WIFI'" class="wlIcon wlIcon-WIFI"></i>

													<i class="wlIcon wlIcon-dianchifull"></i>

												</div>

											</div>

											<div class="page-head">

												<span class="wanlicon">

													<i class="wlIcon wlIcon-fanhui1"></i>

												</span>

												<span class="title">

													{{pageData.page.params.navigationBarTitleText}}

												</span>

												<span class="wanlicon">

													<i class="wlIcon wlIcon-fenxiang"></i>

												</span>

											</div>

										</div>

										<!-- 模块&拖动 -->

										<wanldraggable class="draggable" v-model="pageData.item" v-bind="{animation:500}">

											<div class="wanlshop" v-for="(item,index) in pageData.item" :key="index" @click="onType(index)" :class="{action: type == index}">

												<!-- 轮播组件 -->

												<div class="banner" v-if="item.type == 'banner'" :style="item.style">

													<img :src="cdnurl(item.data[0].image)">

													<div class="indicator">

														<div class="item">

															<span v-for="indic in item.data"></span>

														</div>

													</div>

												</div>

												<!-- 单图 -->

												<div class="image" v-if="item.type == 'image'" :style="item.style">

													<img :src="cdnurl(item.data[0].image)">

												</div>

												<!-- 广告轮播组件 -->

												<div class="advertBanner" v-if="item.type == 'advertBanner'" :style="item.style">

													<img src="/assets/addons/wanlshop/img/page/advert-banner.png">

													<div class="indicator">

														<div class="item">

															<span v-for="indic in item.data"></span>

														</div>

													</div>

												</div>

												<!-- 广告单图 -->

												<div class="advertImage" v-if="item.type == 'advertImage'" :style="item.style">

													<img src="/assets/addons/wanlshop/img/page/advert-image.png">

												</div>

												<!-- 视频 -->

												<div class="video" v-if="item.type == 'video'" :style="item.style">

													<img :src="cdnurl(item.data[0].image)">

													<div class="play"><i class="wlIcon wlIcon-bofang"></i></div>

												</div>

												<!-- 菜单组件 -->

												<div class="menu" v-if="item.type == 'menu'" :style="item.style">

													<div class="grid text-center" :class="'col-' + item.params.colfive">

														<div class="item" v-for="meun in item.data" :style="{'margin-top':item.params.menuMarginTop}">

															<div class="picicon" :class="meun.bgClass" :style="{'height':item.params.menuHeightWidth,'width':item.params.menuHeightWidth,'margin-bottom':item.params.menuMarginBottom}">

																<span :class="meun.iconClass"><i class="wlIcon" :class="meun.icon" :style="{'font-size':item.params.menuIconSize}"></i></span>

															</div>

															<div :style="{'font-size':item.params.menuTextSize}">{{meun.text}}</div>

														</div>

													</div>

												</div>

												<!-- 公告栏 -->

												<div class="notice" v-if="item.type == 'notice'" :style="item.style">

													<i class="wlIcon wlIcon-notice margin-right-xs" v-if="item.params.show"></i><span>{{item.data[0].content}}</span>

												</div>

												<!-- 文章组件 -->

												<div class="article" v-if="item.type == 'article'" :style="item.style">

													<div class="item" v-for="article in item.data">

														<div class="image">

															<img :src="cdnurl(article.image)" >

														</div>

														<div class="article-content">

															<div class="title">

																{{article.articleTitle ? article.articleTitle : '右側のアクションバーをクリックして記事を選択してください'}}

															</div>

															<div class="operate">

																<span v-if="item.params.showTime == 'true'">2020年5月30日20:53</span>

																<span v-if="item.params.showView == 'true'">ブラウズ：100</span>

															</div>

														</div>

													</div>

												</div>

												<!-- 头条组件 -->

												<div class="headlines" v-if="item.type == 'headlines'" :style="item.style">

													<div class="margin-lr-bj">

														<i class="wlIcon wlIcon-toutiao"></i>

													</div>

													<div class="swiper">

														<div class="list padding-tb-xs">

															<div class="text-sm">

																<div class="cu-tag sm radius bg-gradual-red margin-right-xs">人気</div>

																..ユーザー端末は、バックグラウンドのヘッドラインデータを自動的に取得します..

															</div>

															<div class="text-sm">

																<div class="cu-tag sm radius bg-gradual-red margin-right-xs">人気</div>

																..ユーザー端末は、バックグラウンドのヘッドラインデータを自動的に取得します.. 

															</div>

														</div>

														<div class="pic">

															<img :src="cdnurl(item.data[0].image)" >

														</div>

													</div>

												</div>

												<!-- 搜索栏 -->

												<div class="search" v-if="item.type == 'search'" :style="item.style">

													<div :style="{'border-radius':item.params.searchRadius,'background':item.params.searchBackground,'padding':item.params.searchPadding}">

														<i class="wlIcon wlIcon-sousuo margin-right-xs"></i><span>{{item.data[0].content}}</span>

													</div>

												</div>

												<!-- 活动橱窗 -->

												<div class="category" v-if="item.type == 'activity'" :style="item.style">

													<div class="cu-list grid col-2-2_1">

														<div class="cu-item" v-for="(act, index) in item.data" :key="index">

															<div class="name">

																<span class="text-lg" :class="act.textColor">{{getParameter(act.activity)}}</span>

																<div v-if="act.tags" class="cu-tag round sm wanl-bg-orange"> 

																	<span class="wlIcon wlIcon-dot"></span>{{act.tags}}

																</div>

															</div>

															<div v-if="act.describe" class="wanl-gray">{{act.describe}}</div>

															<div class="goods margin-top-bj">

																<div v-for="image in getListNum('col-2-2_1', index)">

																	<img src="/assets/addons/wanlshop/img/common/img_default3x.png">

																</div>

															</div>

														</div>

													</div>

												</div>

												<!-- 分类橱窗 -->

												<div class="category" v-if="item.type == 'classify'" :style="item.style">

													<div class="cu-list grid" :class="item.params.colStyle">

														<div class="cu-item" v-for="(cat, index) in item.data" :key="index">

															<div class="name">

																<span class="text-lg" :class="cat.textColor">{{categoryName(cat.categoryId)}}</span>

																<div v-if="cat.tags" class="cu-tag round sm wanl-bg-orange">

																	<span class="wlIcon wlIcon-dot"></span>{{cat.tags}}

																</div>

															</div>

															<div v-if="cat.describe" class="wanl-gray">{{cat.describe}}</div>

															<div class="goods margin-top-bj">

																<div v-for="image in getListNum(item.params.colStyle, index)">

																	<img src="/assets/addons/wanlshop/img/common/img_default3x.png">

																</div>

															</div>

														</div>

													</div>

												</div>

												<!-- 类目标题 -->

												<div class="categoryTitle" v-if="item.type == 'categoryTitle'" :style="item.style">

													<div class="text-lg"> <span class="wlIcon margin-right-xs" :class="item.data[0].icon"></span>

														{{item.data[0].categoryName}} ···</div>

													<div class="text-sm wanl-gray">更多 <span class="wlIcon wlIcon-fanhui2 margin-left-xs"></span> </div>

												</div>

												<!-- 猜你喜欢 -->

												<div class="product" v-if="item.type == 'likes'" :style="item.style" :class="'col-'+ item.params.colthree +'-'+item.params.colmargin" >

													<div class="item">

														<div class="item_pic">

															<img src="/assets/addons/wanlshop/img/common/img_default3x.png">

														</div>

														<div class="item_list padding-bj">

															<div class="margin-bottom-xs">

																<div class="text-df text-cut-2">自動取得…自動取得…自動取得…</div>

																<div class="wanl-orange text-price text-lg">199</div>

															</div>

															<div>

																<div class="text-xs wanl-gray">

																	<span class="margin-right-sm">100+コメント</span> <span>100%有利なレート</span>

																</div>

															</div>

														</div>

													</div>



													<div class="item">

														<div class="item_pic">

															<img src="/assets/addons/wanlshop/img/common/img_default3x.png">

														</div>

														<div class="item_list padding-bj">

															<div class="margin-bottom-xs">

																<div class="text-df text-cut-2">自動取得…自動取得…自動取得…</div>

																<div class="wanl-orange text-price text-lg">199</div>

															</div>

															<div>

																<div class="text-xs wanl-gray">

																	<span class="margin-right-sm">100+コメント</span> <span>100%有利なレート</span>

																</div>

															</div>

														</div>

													</div>

												</div>

												<!-- 商品组件 -->

												<div class="product" v-if="item.type == 'goods'" :style="item.style" :class="'col-'+ item.params.colthree +'-'+item.params.colmargin" >

													<div class="item" v-for="goods in item.data">

														<div class="item_pic">

															<img src="/assets/addons/wanlshop/img/common/img_default3x.png">

														</div>

														<div class="item_list padding-bj">

															<div class="margin-bottom-xs">

																<div class="text-df text-cut-2">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</div>

																<div class="wanl-orange text-price text-lg">199</div>

															</div>

															<div class="">

																<div class="margin-bottom-xs">

																	<div class="cu-tag sm round bg-gradual-red">新製品</div>

																	<div class="cu-tag sm round bg-white">クーポン66マイナス6を取得</div>

																</div>

																<div class="text-xs wanl-gray">

																	<span class="margin-right-sm">100+コメント</span> <span>100%有利なレート</span>

																</div>

															</div>

														</div>

													</div>

												</div>

												<!-- 砍价组件 -->

												<div class="bargain" v-if="item.type == 'bargain'" :style="item.style">

													<span>交渉コンポーネント-次のバージョンがリリースされますので、ご期待ください</span>

												</div>

												<!-- 秒杀组件 -->

												<div class="seckill" v-if="item.type == 'seckill'" :style="item.style">

													<span>スパイクコンポーネント-次のバージョンがリリースされますので、ご期待ください</span>

												</div>

												<!-- 搜索栏 -->

												<div class="empty" v-if="item.type == 'empty'" :style="item.style">

												</div>

												<!-- 分隔符 -->

												<div class="division" v-if="item.type == 'division'" :style="item.style">

													<div class="line" :style="{'width':item.params.lineWidth,'height':item.params.lineHeight,'background':item.params.lineBackground}"></div>

													<div class="linetext" :style="{'color':item.params.lineTextColor,'font-size':item.params.lineTextSize,'line-height':item.params.lineTextSize,'background':item.params.lineTextBackground,'padding':item.params.lineTextPadding}">

														{{item.params.lineText}}

													</div>

												</div>

												<div class="sub-del" @click="delModule(index)"><i class="wlIcon wlIcon-31guanbi"></i></div>

											</div>

										</wanldraggable>

									</div>

								</div>

								<div class="template">

									<div class="template-title">

										<span><i></i>カスタムコンポーネント</span>

										<!-- <span>更多 <span class="wlIcon wlIcon-fanhuigengduo"></span></span> -->

									</div>

									<div class="control">

										<!-- 模板分组 -->

										<div class="element" v-for="(item,index) in module" :key="index">

											<div class="element-name"> {{getParameter(index)}}</div>

											<div class="element-row">

												<div v-for="element in item" @click="addTemplate(element)">

													<i class="wlIcon" :class="'wlIcon-'+element.type"></i>

													<span>{{element.name}}</span>

												</div>

											</div>

										</div>

									</div>

								</div>

							</div>

						</div>

						<!-- 编辑器 -->

						<div class="editor">

							<div class="bs-example bs-example-tabs" v-if="type == 'page'">

								<ul class="nav nav-tabs" role="tablist">

									<li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">ページ構成</a></li>

								</ul>

								<div class="tab-content">

									<div class="tab-pane fade active in" id="home">

										<p class="bg-info text-info"><strong>スキル：</strong>モジュールをクリックした後、このページが見つかりません。左側のナビゲーションバーをクリックして戻ります。！</p>

										<div class="form-group">

											<label>ページ名:</label>

											<input type="text" class="form-control" v-model="pageData.name">

										</div>

										<div class="form-group">

											<label>ナビゲーション列ヘッダー:</label>

											<input type="text" class="form-control" v-model="pageData.page.params.navigationBarTitleText">

										</div>

										

										<h5 class="page-header"></h5>

										<div class="form-group">

											<label>ナビゲーションバーの背景画像:</label>

											<div class="wanl-upload">

												<input class="form-control" type="text" v-model="pageData.page.style.navigationBackgroundImage">

												<input type="file" id="navigationBackground" accept="image/*" @change="changeImage($event,'navigationBackgroundImage')" style="display:none" >

												<label for="navigationBackground" class="btn btn-info">

													<i class="fa fa-upload"></i> アップロード

												</label>

											</div>

										</div>

										<div class="form-group">

											<label>ナビゲーションバーの背景:</label>

											<div class="form-inline">

												<input type="text" class="form-control" v-model="pageData.page.style.navigationBarBackgroundColor"> <input

												 id="color" class="form-control" type="color" v-model="pageData.page.style.navigationBarBackgroundColor">

											</div>

										</div>

										<div class="form-group">

											<label>ナビゲーションの前景色:</label>

											<select class="form-control" v-model="pageData.page.style.navigationBarTextStyle">

												<option value="#ffffff">淡い色（白）</option>

												<option value="#000000">ダーク（黒）</option>

											</select>

										</div>

										<h5 class="page-header"></h5>

										<div class="form-group">

											<label>ページの背景画像:</label>

											<div class="wanl-upload">

												<input class="form-control" type="text" v-model="pageData.page.style.pageBackgroundImage">

												<input type="file" id="pageBackground" accept="image/*" @change="changeImage($event,'pageBackgroundImage')" style="display:none" >

												<label for="pageBackground" class="btn btn-info">

													<i class="fa fa-upload"></i> アップロード

												</label>

											</div>

										</div>

										<div class="form-group">

											<label>ページの背景:</label>

											<div class="form-inline">

												<input type="text" class="form-control" v-model="pageData.page.style.pageBackgroundColor"> 

												<input id="color" class="form-control" type="color" v-model="pageData.page.style.pageBackgroundColor">

											</div>

										</div>

										<div class="form-group">

											<label>繰り返される背景:</label>

											<select class="form-control" v-model="pageData.page.style.pageBackgroundRepeat">

												<option value="#ffffff">繰り返す</option>

												<option value="#000000">繰り返さない</option>

											</select>

										</div>

									</div>

								</div>

							</div>

							

							<!-- 组件 -->

							<div class="bs-example bs-example-tabs module-example" v-for="(item,index) in pageData.item" :key="index" v-if="type == index">

								<ul class="nav nav-tabs" role="tablist">

									<li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">{{item.name}}データ</a></li>

									<li v-if="item.params !== undefined"><a href="#params" data-toggle="tab" aria-expanded="false">構成パラメーター</a></li>

									<li><a href="#style" data-toggle="tab" aria-expanded="false">CSSスタイル</a></li>

								</ul>

								<div class="tab-content">

									<!-- 组件首页 -->

									<div class="tab-pane fade active in" id="home">

										<div class="add-data" @click="addData(index,item.data[0])">

											<a class="btn btn-sm btn-info btn-append"><i class="fa fa-plus"></i> データを追加する</a>

										</div>

										<p class="bg-info text-info"><strong>注意：</strong>データを追加するかどうかはご自身で判断してください。単一の画像などの単一のデータは無効です。！</p>

										<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

											<div class="panel panel-default" v-for="(lists,num) in item.data" :key="num">

												<div class="panel-heading" role="tab" :id="'heading-'+num">

													<h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" :href="'#collapse-'+num" :aria-expanded="num==0?true:false" :aria-controls="'collapse-'+num">

														{{item.name}} <strong>#{{num+1}}</strong>

													</h4>

													<span @click="delData(index,num)"><i class="wlIcon wlIcon-31guanbi"></i></span> 

												</div>

												<div :id="'collapse-'+num" class="panel-collapse collapse" :class="num==0?'in':''" role="tabpanel" :aria-labelledby="'heading-'+num">

													<div class="panel-body">

														<div v-for="(datas,type) in lists" :key="type">

															<!-- 图片上传组件 -->

															<div class="form-group" v-if="type == 'image'">

																<label>画像:</label>

																<div class="wanl-upload">

																	<input class="form-control" type="text" v-model="lists[type]"  placeholder="写真をアップロードするには、右側の[アップロード]をクリックします">

																	<input type="file" :id="type+index+num" accept="image/*" @change="dataUpload($event,index,num,type)" :ref="type+index+num" style="display: none;">

																	<label :for="type+index+num" class="btn btn-info">

																		<i class="fa fa-upload"></i> アップロード

																	</label>

																</div>

																<ul class="row list-inline plupload-preview">

																	<li class="col-xs-3">

																		<a class="thumbnail"><img :src="cdnurl(lists[type])" class="img-responsive"></a>

																	</li>

																</ul>

															</div>

															<!-- 提示 -->

															<div class="tips" v-else-if="type == 'tips'">

																{{datas}}

															</div>

															<!-- 提示2 -->

															<div class="title form-group" v-else-if="type == 'title'">

																<span class="text-green">{{datas}}</span>

															</div>

															<!-- icon颜色 -->

															<div class="form-group" v-else-if="type == 'iconClass'">

																<label>アイコンの色:</label>

																<select class="form-control" v-model="lists[type]">

																	<option value="text-white">白い</option>

																	<option value="wanl-black">ピュアブラック</option>

																	<option value="wanl-pip">スタンダードブラック</option>

																	<option value="wanl-gray-dark">暗灰色</option>

																	<option value="wanl-gray-light">ライトグレー</option>

																	<option value="wanl-text-white">白（グラデーション）</option>

																	<option value="wanl-orange">オレンジ</option>

																	<option value="wanl-red">赤</option>

																	<option value="text-yellow">黄</option>

																	<option value="text-green">緑</option>

																	<option value="text-blue">ブルー</option>

																	<option value="text-olive">アーミーグリーン</option>

																	<option value="text-cyan">青</option>

																	<option value="text-purple">紫の</option>

																	<option value="text-mauve">ヤン・ズー</option>

																	<option value="text-pink">ピンク</option>

																	<option value="text-brown">褐色</option>

																	<option value="wanl-text-red">赤（グラデーション）</option>

																	<option value="wanl-text-yellow">黄（グラデーション）</option>

																	<option value="wanl-text-orange">オレンジ（グラデーション）</option>

																	<option value="wanl-text-violet">バイオレット（グラデーション）</option>

																	<option value="wanl-text-blue">ブルー（グラデーション）</option>

																	<option value="wanl-text-light-blue">浅ブルー（グラデーション）</option>

																	<option value="wanl-text-pink">ピンク（グラデーション）</option>

																	<option value="wanl-text-green">緑（グラデーション）</option>

																	<option value="wanl-text-purple">紫の（グラデーション）</option>

																</select>

															</div>

															<!-- 背景样式下拉 -->

															<div class="form-group" v-else-if="type == 'bgClass'">

																<label>バックグラウンド:</label>

																<select class="form-control" v-model="lists[type]">

																	<option value="wanl-bg-transparent">透明（无）</option>

																	<option value="bg-white">白色</option>

																	<option value="wanl-bg-redorange">橘赤（グラデーション）</option>

																	<option value="wanl-bg-orange">オレンジ（グラデーション）</option>

																	<option value="wanl-bg-pink">ピンク（グラデーション）</option>

																	<option value="wanl-bg-blue">ブルー（グラデーション）</option>

																	<option value="bg-gradual-yellow">黄（グラデーション）</option>

																	<option value="bg-gradual-red">洋红（グラデーション）</option>

																	<option value="bg-gradual-orange">黄橙（グラデーション）</option>

																	<option value="bg-gradual-green">草绿（グラデーション）</option>

																	<option value="bg-gradual-purple">紫の（グラデーション）</option>

																	<option value="bg-gradual-pink">ヤン・ズー（グラデーション）</option>

																	<option value="bg-gradual-blue">蓝绿（グラデーション）</option>

																	<option value="bg-red">赤</option>

																	<option value="bg-orange">オレンジ</option>

																	<option value="bg-yellow">黄</option>

																	<option value="bg-olive">アーミーグリーン</option>

																	<option value="bg-green">緑</option>

																	<option value="bg-cyan">青</option>

																	<option value="bg-blue">ブルー</option>

																	<option value="bg-purple">インクパープル</option>

																	<option value="bg-mauve">ヤン・ズー</option>

																	<option value="bg-pink">ピンク</option>

																	<option value="bg-brown">褐色</option>

																</select>

															</div>

															<!-- 链接地址 -->

															<div class="form-group" v-else-if="type == 'link'">

																<h5 class="page-header"></h5>

																<label>リンクアドレス:</label>

																<div class="wanl-upload">

																	<input type="text" class="form-control" v-model="lists[type]" placeholder="右側の選択ボタンをクリックしてリンクを選択します">

																	<button @click="obtainLink(index,num,type,'false')" class="btn btn-primary wanl-link"><i class="fa fa-link"></i> 選択する </button>

																</div>

															</div>

															<!-- 类目链接 -->

															<div class="form-group" v-else-if="type == 'categoryLink'">

																<h5 class="page-header"></h5>

																<label>カテゴリリンク:</label>

																<div class="wanl-upload">

																	<input type="text" class="form-control" v-model="lists[type]" placeholder="右側の選択ボタンをクリックして、カテゴリIDを選択します">

																	<button @click="categoryLink(index, num, 'false')" class="btn btn-primary wanl-link"><i class="fa fa-link"></i> 選択する </button>

																</div>

															</div>

															<!-- 视频地址 -->

															<div class="form-group" v-else-if="type == 'video'">

																<h5 class="page-header"></h5>

																<label>ビデオを選択:</label>

																<div class="wanl-upload">

																	<input type="text" class="form-control" v-model="lists[type]" placeholder="右側の選択ボタンをクリックしてリンクを選択します">

																	<button @click="attachmentLink(index,num,type,'false')" class="btn btn-primary wanl-link"><i class="fa fa-list"></i> 選択する </button>

																</div>

															</div>

															<!-- icon类名 -->

															<div class="form-group" v-else-if="type == 'icon'">

																<label>アイコンクラス名:</label>

																<div class="wanl-upload">

																	<input type="text" class="form-control" v-model="lists[type]" placeholder="右側の選択ボタンをクリックしてアイコンを選択します">

																	<button @click="iconLink(index, num, type, 'false')" class="btn btn-info wanl-link"><i class="fa fa-bars"></i> 選択する </button>

																</div>

															</div>

															<!-- 商品链接 -->

															<div class="form-group" v-else-if="type == 'goodsLink'">

																<label>商品:</label>

																<div class="wanl-upload">

																	<input type="text" class="form-control" v-model="lists[type]" placeholder="右側の選択ボタンをクリックして、製品IDを選択します">

																	<button @click="goodsLink(index,num,type,'false')" class="btn btn-info wanl-link"><i class="fa fa-bars"></i> 選択する </button>

																</div>

															</div>

															

															<!-- 类目名 -->

															<div class="form-group" v-else-if="type == 'categoryName'">

																<label>種別名:</label>

																<input type="text" class="form-control" v-model="lists[type]" disabled />

															</div>

															<!-- 内容 -->

															<div class="form-group" v-else-if="type == 'content'">

																<label>コンテンツ:</label>

																<input type="text" class="form-control" v-model="lists[type]" placeholder="コンテンツを入力してください">

															</div>

															

															<!-- 活动类型 -->

															<div class="form-group" v-else-if="type == 'activity'">

																<label>活動の種類:</label>

																<select class="form-control" v-model="lists[type]">

																	<option value="distribution">分布</option>

																	<option value="group">共同購入して参加する</option>

																	<option value="bargain">バーゲン</option>

																	<option value="rush">期間限定購入</option>

																	<option value="coupon">クーポンセンター</option>

																</select>

															</div>

															<!-- 字体颜色 -->

															<div class="form-group" v-else-if="type == 'textColor'">

																<label>フォントの色:</label>

																<select class="form-control" v-model="lists[type]">

																	<option value="wanl-black">黒</option>

																	<option value="wanl-pip">スタンダードブラック</option>

																	<option value="wanl-orange">オレンジ</option>

																	<option value="wanl-red">ワンリアンレッド</option>

																	<option value="text-red">赤</option>

																	<option value="text-yellow">黄</option>

																	<option value="text-green">緑</option>

																	<option value="text-blue">ブルー</option>

																	<option value="text-olive">アーミーグリーン</option>

																	<option value="text-cyan">青</option>

																	<option value="text-purple">紫の</option>

																	<option value="text-mauve">ヤン・ズー</option>

																	<option value="text-pink">ピンク</option>

																	<option value="text-brown">褐色</option>

																	<option value="wanl-gray-dark">暗灰色</option>

																	<option value="wanl-gray-light">ライトグレー</option>

																</select>

															</div>

															<!-- 类目 -->

															<div class="form-group" v-else-if="type == 'categoryId'">

																<label>カテゴリを選択:</label>

																<select class="form-control" v-model="lists[type]">

																	<option v-for="cate in pageCategory" :value ="cate.id">{{mergeSpace(cate.spacer)}} {{cate.name}}</option>

																</select>

															</div>

															<!-- 普通表单 -->

															<div class="form-group" v-else>

																<label>{{getParameter(type)}}:</label>

																<input type="text" class="form-control" v-model="lists[type]" :placeholder="'入ってください' + getParameter(type)">

															</div>

														</div>

													</div>

												</div>

											</div>

										</div>

									</div>

									<!-- 组件参数 -->

									<div class="tab-pane fade" id="params">

										<p class="bg-warning text-warning"><strong>促す：</strong>パラメータに「pxunit」がある場合は、削除せず、pxのみにすることができます（クライアントは自動的にアダプティブrpxに変換されます）</p>

										<div class="form-group" v-for="(params,type) in item.params" :key="type">

											<!-- 指示器样式 -->

											<div v-if="type == 'banstyle'">

												<label>インジケータースタイル:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="1">丸い形</option>

													<option value="2">矩形</option>

												</select>

											</div>

											<!-- 布局方式 -->

											<div v-else-if="type == 'colStyle'">

												<label>レイアウト:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="col-1-2-2">1-2-2レイアウト</option>

													<option value="col-1-1_2">1-1_2レイアウト</option>

													<option value="col-2-1_2">2-1_2レイアウト</option>

													<option value="col-2-2_1">2-2_1レイアウト</option>

													<option value="col-2-2-1_2">2-2-1_2レイアウト</option>

													<option value="col-2-4">2-4レイアウト</option>

													<option value="col-2-2-4">2-2-4レイアウト</option>

												</select>

											</div>

											<!-- 每行数量 -->

											<div v-else-if="type == 'colthree'">

												<label>1行あたりの数:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="1">各行 1 カラム</option>

													<option value="2">各行 2 カラム</option>

													<option value="3">各行 3 カラム</option>

												</select>

											</div>

											<!-- 每行数量 -->

											<div v-else-if="type == 'colfive'">

												<label>1行あたりの数:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="1">各行 1 カラム</option>

													<option value="2">各行 2 カラム</option>

													<option value="3">各行 3 カラム</option>

													<option value="4">各行 4 カラム</option>

													<option value="5">各行 5 カラム</option>

												</select>

											</div>

											<!-- 列边距 -->

											<div v-else-if="type == 'colmargin'">

												<label>マージン:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="10">5ピクセル（10rpx）</option>

													<option value="15">7.5ピクセル（15rpx）</option>

													<option value="20">10ピクセル（20rpx）</option>

													<option value="25">12.5ピクセル（25rpx）</option>

													<option value="30">15ピクセル（30rpx）</option>

												</select>

											</div>

											<!-- 判断开关 -->

											<div v-else-if="type == 'show'">

												<label>通知バーアイコン:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="true">表示</option>

													<option value="">見せないで</option>

												</select>

											</div>

											<div v-else-if="type == 'showTime'">

												<label>記事の日付:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="true">表示</option>

													<option value="false">見せないで</option>

												</select>

											</div>

											<div v-else-if="type == 'showView'">

												<label>ビュー:</label>

												<select class="form-control" v-model="item.params[type]">

													<option value="true">表示</option>

													<option value="false">見せないで</option>

												</select>

											</div>

											<!-- 搜索颜色选项 -->

											<div class="form-inline" v-else-if="type == 'searchBackground'">

												<label>検索バーの背景:</label>

												<input type="text" class="form-control" v-model="item.params[type]"> <input id="color" class="form-control"

												 type="color" v-model="item.params[type]">

											</div>

											<!-- 线段颜色 -->

											<div class="form-inline" v-else-if="type == 'lineBackground'">

												<label>線の色:</label>

												<input type="text" class="form-control" v-model="item.params[type]"> <input id="color" class="form-control"

												 type="color" v-model="item.params[type]">

											</div>

											<!-- 分隔字体颜色 -->

											<div class="form-inline" v-else-if="type == 'lineTextColor'">

												<label>フォントの色:</label>

												<input type="text" class="form-control" v-model="item.params[type]"> <input id="color" class="form-control"

												 type="color" v-model="item.params[type]">

											</div>

											<!-- 分隔字体背景颜色选项 -->

											<div class="form-inline" v-else-if="type == 'lineTextBackground'">

												<label>フォントの背景色:</label>

												<input type="text" class="form-control" v-model="item.params[type]"> <input id="color" class="form-control"

												 type="color" v-model="item.params[type]">

											</div>

											<!-- 默认表单 -->

											<div v-else>

												<label>{{getParameter(type)}}:</label>

												<input type="text" class="form-control" v-model="item.params[type]">

											</div>

										</div>

									</div>

									<!-- 组件样式 -->

									<div class="tab-pane fade" id="style">

										<p class="bg-danger text-danger"><strong>促す：</strong>このアイテムを操作するには、フロントエンドCSSの基本を習得する必要があります。フロントエンドを知らない学生の場合は、デフォルトのスタイルを維持してください。スタイルを追加/変更することはお勧めしません。</p>

										<div class="form-group" v-for="(styles,type) in item.style" :key="type">

											<label>

												<div>{{type}} {{moduleStyle[type].name}}:</div>

												<div class="del" @click="delStyle(index,type)"><i class="wlIcon wlIcon-31guanbi"></i></div>

											</label>

											<div class="form-inline" v-if="type == 'color' || type == 'background-color'">

												<input type="text" class="form-control" v-model="item.style[type]"> <input id="color" class="form-control"

												 type="color" v-model="item.style[type]">

											</div>

											<div v-else>

												<input type="text" class="form-control" v-model="item.style[type]">

											</div>

										</div>

										<div class="dropdown">

											<a class="btn btn-sm btn-success btn-append" data-target="#" data-toggle="dropdown" role="button"

											 aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus"></i> 新しいスタイルを追加する</a>

											<ul class="dropdown-menu">

												<li v-for="(item,type) in moduleStyle" :key="type">

													<a @click="addStyle(index,type,item.default)">{{item.name}}</a>

												</li>

											</ul>

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>
